/* @font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Extrabold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: HK Grotesk Wide;
  src: url('../../shared/assets/fonts/Hkgroteskwide-Black.otf') format('opentype');
  font-weight: 900;
} */
